// http://www.antimath.info/css/sass-sqrt-function/
@function sqrt($r) {
	$x0: 1;
	$x1: $x0;
	@for $i from 1 through 10 {
		$x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
		$x0: $x1;
	}
	@return $x1;
}

$black: #0f0f0f;
$background: #eee;
$white: #f0f0f0;
$trueWhite: #fff;
$trueBlack: #000;
$grey: #ccc;
$darkGrey: #555;
$graphicsGrey: #4d4d4d;

$maxW: 320px;
$navH: 88px;

* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: $maxW;
	font-family: "Helvetica Neue", "PingFang TC", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background: $background;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2 {
	font-family: xingothic-tc, "Helvetica Neue", "PingFang TC", sans-serif;
}
h3 {
	font-weight: normal;
}
a, a:hover, a:active, a:visited {
	color: blue;
	text-decoration: none;
}
span.emphasis {
	font-weight: bold;
}

section#cover {
	display: block;
	padding-bottom: 2em;
	> #cover-image {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-image: url('../images/graphics_open.svg');
		background-size: contain;
	}
	> #title {
		margin: 4em 0;
		> #pre {
			width: 10em;
			margin: 1em auto;
			padding: 0.5em 1em;
			background: $black;
			color: $white;
			text-align: center;
		}
		> h1 {
			font-size: 4em;
			margin: 0;
			padding: 0.5em 0.2em 0;
			text-align: center;
		}
	}
	> #opening {
	}
}
section {
	> .cover {
		position: relative;
		$coverW: $maxW / 1px;
		$coverH: $maxW / 1px;
		$hypotenuse: sqrt($coverW * $coverW + $coverH * $coverH);
		$a: 45deg; //asin($coverH / $hypotenuse);
		margin: 0 auto;
		width: #{$coverW}px;
		height: #{$coverH}px;
		border: 1px solid $darkGrey;
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;

		&:before, &:after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: #{$hypotenuse}px;
			height: 1px;
			background: $darkGrey;
			transform: rotate($a);
			transform-origin: top left;
		}
		&:after {
			transform: rotate(-$a);
			transform-origin: top left;
			top: 100%;
		}

		> label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}
	> .cover.short {
		height: $navH;
		border: none;
		&:before, &:after { content: none; }
	}
	> .cover.wide {
		width: 100%;
		max-width: 2*$maxW;
		background-color: $trueWhite;
		&:before, &:after { content: none; }
	}
	> p {
		width: 18em;
		margin: 1.5em auto;
		line-height: 1.5;
	}
}
section#street {
	padding-top: 10em;
	//background-color: #333;
	background-image: url('../images/graphics_street.svg');
	background-position: center center;
	background-repeat: repeat-y;
	> .chapter {
		padding: 5em 0;
		> .card {
			margin: 0 auto;
			padding-bottom: 0.5em;
			background: $graphicsGrey;
			color: $white;
			> h2 {
				display: none;
				font-size: 2.5em;
				margin: 0;
				text-align: center;
			}
			> .title {
				width: 100%;
				height: $navH;
				background-size: cover;
			}
			> .description {
				margin: 0 auto;
				width: 19em;
			}
		}
		> .expand {
			background: $graphicsGrey;
			text-align: center;
			> button {
				-webkit-appearance: none;
				width: 100%;
				font-size: 1em;
				margin: 0;
				padding: 0.5em 1em;
				border: none;
				background: $trueBlack;
				color: $white;
				cursor: pointer;
			}
		}
		> .reports {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: flex-start;

			max-width: 600px;
			margin: 3em auto;
			padding: 2em;

			> .report {
				position: relative;
				display: block;
				flex: 1 1 80px;
				margin: 1px;
				margin-bottom: 1.5em;
				border: 3px solid #aaa;
				border-radius: 3px;

				> .thumbnail {
					display: block;
					width: 100%;
					height: 0%;
					padding-bottom: 55%;
					background-color: #ccc;
					background-size: 200%;
					background-position: center center;
				}
				> time, > h3 {
					margin: 0;
					background: $trueWhite;
					color: $trueBlack;
				}
				> time {
					position: absolute;
					top: 0;
					right: 0;
					padding: 0.25em 0.5em;
					font-size: 0.8em;
					font-weight: bold;
					line-height: 1.0;
				}
				> h3 {
					display: none;
					position: absolute;
					bottom: 0;
					max-width: 15em;
					padding: 0.5em;
					font-size: inherit;
				}
			}
		}
	}
	> .chapter.expanded {
		> .reports > .report {
			flex: 1 1 200px;
			> .thumbnail {
				background-size: 100%;
			}
			> h3 {
				display: block;
			}
		}
	}
}
section#legislature, section#now {
	> h2 {
		margin: 0;
		padding: 1em 0.5em;
		font-size: 2em;
		text-align: center;
	}
}
section#legislature {
	//background-color: #f02c00;
}
section#now {
}
section#update {
	> h2 {
		font-size: 2em;
		margin: 0;
		text-align: center;
		line-height: 1.0;
	}
}
svg {
	display: block;
	margin: 0 auto;
	font-size: 12px;
}
#timelines {
	position: relative;
	background-image: url('../images/graphics_timelines_background.svg');
	background-position: center center;
	background-repeat: repeat-y;
	> svg {
		> g.event {
			cursor: pointer;
		}
	}

	> #eventDetail {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: $maxW;
		border: 3px solid #aaa;
	    border-radius: 3px;
		> a {
			display: block;
			> .thumbnail {
				width: 100%;
				height: 0%;
				padding-bottom: 55%;
				background-color: #ccc;
				background-size: 150%;
				background-position: center center;
			}
			> time, > h3 {
				margin: 0;
				background: $trueWhite;
				color: $trueBlack;
			}
			> time {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.25em 0.5em;
				font-size: 0.8em;
				font-weight: bold;
				line-height: 1.0;
			}
			> h3 {
				position: absolute;
				bottom: 0;
				max-width: 15em;
				padding: 0.5em;
				font-size: inherit;
			}
		}

		> .close {
			$buttonW: 40;
			position: absolute;
			top: 0;
			left: 0;
			width: #{$buttonW}px;
			height: #{$buttonW}px;
			cursor: pointer;
			overflow: hidden;

			&:before, &:after {
				content: ' ';
				display: block;
				position: absolute;
				top: -1px;
				width: #{2*$buttonW}px;
				height: 2px;
				background: $trueBlack;
			}
			&:before {
				left: 0;
				transform-origin: top left;
				transform: rotate(45deg);
			}
			&:after {
				right: 0;
				transform-origin: top right;
				transform: rotate(-45deg);
			}
		}
	}
}
#timelines.showEventDetail > #eventDetail { display: block; }
#chart {
	margin: 0;
	> svg {
		> g.proposal {
			cursor: pointer;
			> .value > text { display: none; }
		}
		&.focusOn {
			> g.proposal {
				opacity: 0.15;
			}
			> g.proposal.focused {
				opacity: 1.0;
				> .value > text { display: block; }
			}
		}
	}
}
footer {
	position: relative;
	margin-top: 10em;
	background: #ccc;

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		top: -5em;
		left: 50%;
		transform: translateX(-50%);
		width: 5em;
		height: 2px;
		background: $trueBlack;
	}

	> #share {
		img {
			display: block;
		}
	}
	> #credits {
		margin: 0 auto;
		padding: 0.5em 0;
		width: 19em;
		text-align: left;
		a { display: inline-block; }
	}
}
.watchout-logotype {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-image: url('../images/graphics_watchout.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
#space {
	height: $navH;
}
nav {
	display: block;
	position: fixed;
	top: 0;
	width: $maxW;
	color: $white;
	background: $trueBlack;
	line-height: 1.0;

	> ul {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
		> li {
			$itemW: 100;
			-ms-flex: 1 1 #{$itemW}px;
			-webkit-flex: 1 1 #{$itemW}px;
			flex: 1 1 #{$itemW}px;
			background-image: url('../images/graphics_nav.svg');
			background-size: cover;
			background-repeat: no-repeat;
			height: $navH;
			cursor: pointer;

			$gap: (20/3);
			&#firstImpact {
				background-position: 0 0;
			}
			&#newCongress {
				background-position: -#{$itemW + $gap}px 0;
			}
			&#partyVersionAttack {
				background-position: -#{($itemW + $gap)*2}px 0;
			}
		}
	}
}
#progress {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	max-width: $maxW;
	height: $navH;
	background: rgba(255,0,0,0.5);
	background: -moz-linear-gradient(left, rgba(255,0,0,0.06) 0%, rgba(255,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,0,0.06)), color-stop(100%, rgba(255,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(255,0,0,0.06) 0%, rgba(255,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(255,0,0,0.06) 0%, rgba(255,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,0,0,0.06) 0%, rgba(255,0,0,1) 100%);
	background: linear-gradient(to right, rgba(255,0,0,0.06) 0%, rgba(255,0,0,1) 100%);
}
